.navbar{
    justify-content: space-between
   }
   span{
    padding-right: 1rem;
   }
   .mat-sidenav-container{
    min-height: 93%;
   }
   
   .mat-sidenav{
    background-color: whitesmoke;
    width: 200px;
   }
   